## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
os.getcwd()

'C:\\Users\\yingk\\washu-bootcamp\\Module-6_API\\World_Weather_Analysis\\Vacation_Itinerary'

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
file_to_load = os.path.join("..", "Weather_Database", "WeatherPy_Database.csv")
vacation_df = pd.read_csv(file_to_load)
vacation_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Khani,GE,41.9563,42.9566,63.97,98,100,2.46,light rain
1,1,Atar,MR,20.5169,-13.0499,99.73,24,0,13.65,clear sky
2,2,Yerbogachen,RU,61.2767,108.0108,51.28,94,36,4.38,scattered clouds
3,3,Kamaishi,JP,39.2667,141.8833,69.40,96,100,10.92,overcast clouds
4,4,Punta Arenas,CL,-53.1500,-70.9167,33.91,93,100,9.22,light snow

In [3]:
df = vacation_df.loc[vacation_df["Hotel Name"] == "Hotel Route Inn Kamaishi"]
df

,City_ID,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,3,Kamaishi,JP,69.4,overcast clouds,39.2667,141.8833,Hotel Route Inn Kamaishi

In [4]:
type(vacation_df.loc[:,["Hotel Name"]])

pandas.core.frame.DataFrame

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
""" 
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"] == "The Hamsa Resort"]
vacation_end = vacation_df.loc[vacation_df["Hotel Name"] == "The Hamsa Resort"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"] == "DoubleFAG"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"] == "Massagus Hotel"] 
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"] == "Puri Brata"]

In [8]:
vacation_stop3

,City_ID,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
91,101,479,Bambanglipuro,ID,71.73,clear sky,-7.95,110.2833,Puri Brata

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [10]:
stop1

(-6.8844, 112.2051)

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig2 = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig2.add_layer(vacation_itinerary)
fig2

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,60,262,Banjar,ID,71.51,few clouds,-8.1900,114.9675,The Hamsa Resort
1,93,443,Labuhan,ID,73.63,clear sky,-6.8844,112.2051,DoubleFAG
2,49,200,Kutoarjo,ID,70.88,clear sky,-7.7169,109.9128,Massagus Hotel
3,101,479,Bambanglipuro,ID,71.73,clear sky,-7.9500,110.2833,Puri Brata

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure(center=(-8, 110.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig3.add_layer(marker_layer)
# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))